programs/node-red/flows.json
[{"id":"a86aaacc.748738","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"a86aaacc.748738","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"こんにちは","payloadType":"str","x":100,"y":520,"wires":[["f54c6f46.47091"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"a86aaacc.748738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":240,"wires":[]},{"id":"c3dc9b82.813b4","type":"ttn uplink","z":"a86aaacc.748738","name":"dango0b57","app":"25b7330c.0d66b4","dev_id":"dango0b57","field":"","x":80,"y":240,"wires":[["94c689e1.48263","dc40f792.2bf15"]]},{"id":"94ae197b.fbc7d8","type":"ttn uplink","z":"a86aaacc.748738","name":"kushimoto0b6d","app":"25b7330c.0d66b4","dev_id":"kushimoto0b6d","field":"","x":100,"y":400,"wires":[["f54c6f46.47091"]]},{"id":"a78596c6.ebca48","type":"debug","z":"a86aaacc.748738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":440,"wires":[]},{"id":"f54c6f46.47091","type":"function","z":"a86aaacc.748738","name":"串本からのアクセス","func":"var text = msg.payload.toString();\nmsg.payload = text;\n\nvar cnt = flow.get(\"CNT\");\nif(cnt > 0){\n    cnt = cnt - 1;\n}\nflow.set(\"CNT\",cnt);\nmsg.cnt = cnt;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":460,"wires":[["a78596c6.ebca48","73015efa.50ebf8"]]},{"id":"13d4eef1.13df21","type":"ttn downlink","z":"a86aaacc.748738","name":"kushimoto0b6d","app":"25b7330c.0d66b4","dev_id":"kushimoto0b6d","port":"2","confirmed":false,"schedule":"last","x":380,"y":520,"wires":[]},{"id":"303a79b5.36ea76","type":"function","z":"a86aaacc.748738","name":"toString","func":"\n//const Encoding = require('encoding-japanese');\n//const Encoding = new global.get(`encoding-japanese`);\n\n//var buffer = msg.payload.toString();\n\n//const text = Encoding.convert(buffer, {\n//  from: 'SJIS',\n//  to: 'UNICODE',\n//  type: 'string',\n//});\n\nvar text = msg.payload.toString();\nmsg.payload = text;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":60,"wires":[["2d985a97.cac61e"]]},{"id":"9cf35469.6c7628","type":"inject","z":"a86aaacc.748738","name":"テスト","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"[77,73,89,65,85,67,72,73,32,83,97,110,32,72,101,108,108,111]","payloadType":"bin","x":90,"y":580,"wires":[["97cb0188.3ece1"]]},{"id":"97cb0188.3ece1","type":"debug","z":"a86aaacc.748738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":580,"wires":[]},{"id":"c5567fc8.82c5d8","type":"inject","z":"a86aaacc.748738","name":"日時","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["303a79b5.36ea76","3b2fcd12.37ed5a"]]},{"id":"2d985a97.cac61e","type":"debug","z":"a86aaacc.748738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":483,"y":63,"wires":[]},{"id":"3b2fcd12.37ed5a","type":"change","z":"a86aaacc.748738","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":120,"wires":[["83c1b8de.adcda"]]},{"id":"83c1b8de.adcda","type":"debug","z":"a86aaacc.748738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"94c689e1.48263","type":"function","z":"a86aaacc.748738","name":"DangoSatのアクセス","func":"var cnt = flow.get(\"CNT\");\n\nif(cnt === 0){\n    cnt += 1\n    flow.set(\"CNT\",cnt);\n    msg.cnt = cnt;\n    return msg;\n}\nelse{\n    msg.payload = null;\n}\n\n//var text = msg.payload.toString();\n//msg.payload = text;\n//return msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":240,"wires":[["f2f2649a.0d0d98","363fd3c4.050974"]]},{"id":"8caf2aef.c2ef78","type":"inject","z":"a86aaacc.748738","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"lat=1.1&lon=1.2&temp=23.5&hum=65.2&pres=1023.4&ill=2000.53","payloadType":"str","x":120,"y":700,"wires":[["c9ffaf4e.cd61c8"]]},{"id":"c9ffaf4e.cd61c8","type":"http request","z":"a86aaacc.748738","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"http://sajk.waitwg.org/~spaus01/getExamData.php?","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":720,"wires":[["a551f9bf.f5a56"]]},{"id":"a551f9bf.f5a56","type":"debug","z":"a86aaacc.748738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":740,"wires":[]},{"id":"12c43df1.0356fa","type":"http request","z":"a86aaacc.748738","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://query.yahooapis.com/v1/public/yql?q={{{query}}}&format=json","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":820,"wires":[["293189c3.95c906"]]},{"id":"293189c3.95c906","type":"debug","z":"a86aaacc.748738","name":"","active":true,"console":"false","complete":"payload","x":590,"y":820,"wires":[]},{"id":"fd36efd.729251","type":"inject","z":"a86aaacc.748738","name":"query parameter","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"select astronomy.sunset from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"maui, hi\")","payloadType":"str","x":80,"y":820,"wires":[["c9185251.13b25"]]},{"id":"c9185251.13b25","type":"change","z":"a86aaacc.748738","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":820,"wires":[["12c43df1.0356fa"]]},{"id":"91833584.d143a","type":"inject","z":"a86aaacc.748738","name":"カウンタの初期化","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"num","x":140,"y":180,"wires":[["f975fb23.94c098"]]},{"id":"f975fb23.94c098","type":"function","z":"a86aaacc.748738","name":"ダウンリンクカウンタのクリア","func":"var cnt = 0;\nflow.set(\"CNT\",cnt);\nmsg.payload = cnt;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":180,"wires":[["f4ce98f1.8d1678"]]},{"id":"f4ce98f1.8d1678","type":"debug","z":"a86aaacc.748738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":180,"wires":[]},{"id":"73015efa.50ebf8","type":"debug","z":"a86aaacc.748738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"cnt","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":480,"wires":[]},{"id":"1e36af8.f9a9751","type":"ttn uplink","z":"a86aaacc.748738","name":"0b58","app":"9c25d6a9.7834e","dev_id":"0b58","field":"","x":70,"y":460,"wires":[["f54c6f46.47091"]]},{"id":"98d6d45e.35526","type":"ttn downlink","z":"a86aaacc.748738","name":"0b58","app":"9c25d6a9.7834e","dev_id":"0b58","port":"2","confirmed":false,"schedule":"last","x":430,"y":380,"wires":[]},{"id":"dcf2fcf2.3d89c8","type":"change","z":"a86aaacc.748738","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":580,"wires":[[]]},{"id":"b7535d67.32cc3","type":"inject","z":"a86aaacc.748738","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"temp:26.9","payloadType":"str","x":110,"y":320,"wires":[["18a507e.dccbff8"]]},{"id":"18a507e.dccbff8","type":"function","z":"a86aaacc.748738","name":"toBinary","func":"var a=[];\n\n for (var i = 0; i < msg.payload.length; i++) {\n    a[i] = msg.payload.charCodeAt(i);\n}\nmsg.payload = a;    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":380,"wires":[["520ffd09.c17e2c"]]},{"id":"520ffd09.c17e2c","type":"debug","z":"a86aaacc.748738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":420,"wires":[]},{"id":"641ec89d.ec53c","type":"function","z":"a86aaacc.748738","name":"toBinary","func":"var a=[];\n\n for (var i = 0; i < msg.payload.length; i++) {\n    a[i] = msg.payload.charCodeAt(i);\n}\nmsg.payload = a;    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":620,"wires":[[]]},{"id":"dc40f792.2bf15","type":"function","z":"a86aaacc.748738","name":"toString","func":"var text = msg.payload.toString();\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":280,"wires":[["b7e1113a.968e98"]]},{"id":"b7e1113a.968e98","type":"debug","z":"a86aaacc.748738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":320,"wires":[]},{"id":"363fd3c4.050974","type":"debug","z":"a86aaacc.748738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"cnt","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":280,"wires":[]},{"id":"5d590563.9b2194","type":"ttn downlink","z":"a86aaacc.748738","name":"kushimoto0b6d","app":"25b7330c.0d66b4","dev_id":"kushimoto0b6d","port":"2","confirmed":false,"schedule":"last","x":560,"y":320,"wires":[]},{"id":"25b7330c.0d66b4","type":"ttn app","z":"","appId":"msg_app_for_cansat","accessKey":"ttn-account-v2.p6v6025FgOkFaNIgMKsXZ2GcfgT7pM3hFksbmeR8_lw","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"9c25d6a9.7834e","type":"ttn app","z":"","appId":"cansatforkushimoto","accessKey":"ttn-account-v2.GIZEsMD5rNa3XIy53J0omEfhQn1VnXw9f-P8p9QdfPs","discovery":"discovery.thethingsnetwork.org:1900"}]