programs/node-red/nodered_inoue.json
[{"id":"eb22b047.d420d","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"eb22b047.d420d","name":"","props":[{"p":"payload"},{"p":"topic","v":"12","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":"2","topic":"","payload":"Hello Node-RED!!!","payloadType":"str","x":130,"y":20,"wires":[["f2f2649a.0d0d98","73b230ae.07c1b"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"eb22b047.d420d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":20,"wires":[]},{"id":"73b230ae.07c1b","type":"debug","z":"eb22b047.d420d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":60,"wires":[]},{"id":"a16e4ebd.50a6e","type":"ttn uplink","z":"eb22b047.d420d","name":"dangosat_data","app":"3373a231.b780ce","dev_id":"dango0b57","field":"","x":100,"y":240,"wires":[["60385627.2eda78","aa7a1abf.3e4df8"]]},{"id":"ffdb79dc.417788","type":"debug","z":"eb22b047.d420d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":220,"wires":[]},{"id":"60385627.2eda78","type":"function","z":"eb22b047.d420d","name":"to_moji","func":"//var mojis = {lat:[\"lat\", \"1\"], lon:[\"lon\", \"2\"], temp:[\"temp\", \"3\"], hum:[\"hum\", \"4\"], pres:[\"pres\", \"5\"], ill:[\"ill\", \"6\"]};\nvar a = msg.payload.toString();\n//msg.payload= a;\nvar b = a.split(':');\n//msg.payload = b[0]  + b[1];\n\nmojis = flow.get(\"mojis\");\nmsg.payload = \"\";\n\nif(mojis.lat[0] === b[0]){\n    mojis.lat[1] = b[1];\n}else if(mojis.lon[0] === b[0]){\n    mojis.lon[1] = b[1];\n}else if(mojis.temp[0] === b[0]){\n    mojis.temp[1] = b[1];\n}else if(mojis.hum[0] === b[0]){\n    mojis.hum[1] = b[1];\n}else if(mojis.pres[0] === b[0]){\n    mojis.pres[1] = b[1];\n}else if(mojis.ill[0] === b[0]){\n    mojis.ill[1] = b[1];\n}\n\n\n\nflow.set(\"mojis\", mojis);\nmsg.lat=mojis.lat[1];\nmsg.lon=mojis.lon[1];\nmsg.temp=mojis.temp[1];\nmsg.hum=mojis.hum[1];\nmsg.pres=mojis.pres[1];\nmsg.ill=mojis.ill[1];\n\nmsg.payload = mojis.lat[1] + \" \" + mojis.lon[1] + \" \" +mojis.temp[1] + \" \" +mojis.hum[1] + \" \" +mojis.pres[1] + \" \" +mojis.ill[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":240,"wires":[["ffdb79dc.417788","b70136a9.57bd48"]]},{"id":"afcc9c50.d0177","type":"http request","z":"eb22b047.d420d","name":"to_kawasesan","method":"GET","ret":"txt","paytoqs":"query","url":"http://sajk.waitwg.org/~spaus01/getExamData.php","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":460,"wires":[["6195473d.b96a38"]]},{"id":"ccaad7e3.553718","type":"inject","z":"eb22b047.d420d","name":"","props":[{"p":"url","v":"","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":460,"wires":[["afcc9c50.d0177"]]},{"id":"6195473d.b96a38","type":"debug","z":"eb22b047.d420d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":460,"wires":[]},{"id":"b70136a9.57bd48","type":"http request","z":"eb22b047.d420d","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://sajk.waitwg.org/~spaus01/getExamData.php?lat={{{lat}}}&lon={{{lon}}}&temp={{{temp}}}&hum={{{hum}}}&pres={{{pres}}}&ill={{{ill}}}","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":320,"wires":[["9121bb7.5159448"]]},{"id":"9121bb7.5159448","type":"debug","z":"eb22b047.d420d","name":"","active":true,"console":"false","complete":"payload","x":890,"y":320,"wires":[]},{"id":"e0cedebd.da8a7","type":"inject","z":"eb22b047.d420d","name":"query parameter","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"select astronomy.sunset from weather.forecast where woeid in (select woeid from geo.places(1) where text=\"maui, hi\")","payloadType":"str","x":160,"y":600,"wires":[["bb26a69b.061008"]]},{"id":"d2d7c476.441388","type":"change","z":"eb22b047.d420d","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":540,"wires":[[]]},{"id":"bb26a69b.061008","type":"function","z":"eb22b047.d420d","name":"","func":"msg.lat=\"1\";\nmsg.lon=\"2\";\nmsg.temp=\"3\";\nmsg.hum=\"4\";\nmsg.pres=\"5\";\nmsg.ill=\"6\";\n\nvar data = [\"lat\", \"lon\", \"temp\", \"hum\", \"pres\", \"ill\"];\nflow.set(\"msg\", msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":600,"wires":[[]]},{"id":"653c2682.526c88","type":"inject","z":"eb22b047.d420d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":130,"y":760,"wires":[["46acc245.c8f97c"]]},{"id":"96312561.ede478","type":"function","z":"eb22b047.d420d","name":"","func":"var b = flow.get(\"msg\");\nmsg.lat = b.lat;\nvar d = lat;\n\nif(d == 1){\n\n}else{\n    var c = flow.get(\"msg\");\n    masg.lon = c.lon;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":680,"wires":[[]]},{"id":"84a1d2a3.3a6cb","type":"debug","z":"eb22b047.d420d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"lat","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":760,"wires":[]},{"id":"46acc245.c8f97c","type":"function","z":"eb22b047.d420d","name":"","func":"var b = flow.get(\"msg\");\n\nif(d == 1){\n\n}else{\n    var c = flow.get(\"msg\");\n    masg.lon = c.lon;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":760,"wires":[["84a1d2a3.3a6cb"]]},{"id":"793ee475.a3678c","type":"inject","z":"eb22b047.d420d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":360,"wires":[["4c4b0f99.5b521"]]},{"id":"4c4b0f99.5b521","type":"function","z":"eb22b047.d420d","name":"","func":"var mojis = {lat:[\"lat\", \"1\"], lon:[\"lon\", \"2\"], temp:[\"temp\", \"3\"], hum:[\"hum\", \"4\"], pres:[\"pres\", \"5\"], ill:[\"ill\", \"6\"]};\nmsg.payload = mojis.lat[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":360,"wires":[["32c3dc10.3996b4"]]},{"id":"32c3dc10.3996b4","type":"debug","z":"eb22b047.d420d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":360,"wires":[]},{"id":"778b2fda.5481a","type":"inject","z":"eb22b047.d420d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["4b7b4995.a9a0b8"]]},{"id":"4b7b4995.a9a0b8","type":"function","z":"eb22b047.d420d","name":"shokika","func":"var mojis = [];\nmojis.lat=[\"lat\", \"20.000\"];\nmojis.lon=[\"lon\", \"102.000\"];\nmojis.temp=[\"temp\", \"26.0\"];\nmojis.hum=[\"hum\", \"83.0\"];\nmojis.pres=[\"pres\", \"1009.0\"];\nmojis.ill=[\"ill\", \"30000\"];\n\nflow.set(\"mojis\", mojis);\n\n//for(var moji in mojis){\n    //msg.payload = moji;\n\n//}\n//msg.payload = mojis.lat[1];\n\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":160,"wires":[["7cd57416.b8fc8c"]]},{"id":"7cd57416.b8fc8c","type":"debug","z":"eb22b047.d420d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":160,"wires":[]},{"id":"aa7a1abf.3e4df8","type":"function","z":"eb22b047.d420d","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":280,"wires":[["6a5b6ef3.64ac6"]]},{"id":"6a5b6ef3.64ac6","type":"debug","z":"eb22b047.d420d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":260,"wires":[]},{"id":"3373a231.b780ce","type":"ttn app","z":"","appId":"msg_app_for_cansat","accessKey":"ttn-account-v2.p6v6025FgOkFaNIgMKsXZ2GcfgT7pM3hFksbmeR8_lw","discovery":"discovery.thethingsnetwork.org:1900"}]